body {
    margin: 0;
    padding: 0;
    background-color: #dad9bd;
    background-size: 100%, 100%;
}
div {
    display: block;
    font-family: verdana;
    color:black;
    text-align: left;
    padding-top: 32px;
    margin: auto;
    max-width: 480px;
}
.title {
    max-width: 500px;
}
h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    color: #173950;
    text-shadow: 4px 2px 2px #712518;
}
h2{
    text-align:left;
    font-size: 20px;
    margin:0px;
    padding:0px;
    color: #712518;
    text-shadow: 2px 1px 1px grey;
}
h3{
    font-size: 16px;
    margin:0px;
    padding:0px;
    color: #173950;
    text-shadow: 2px 1px 1px grey;
}
p{
    text-align:left;
    font-size: 14px;
    text-shadow: 1px 1px 3px lightgrey;
}
.box{
    border-color: #173950;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    padding: 14px;
}
.sbox{
    border-color: #173950;
    border-radius: 8px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    padding: 14px;
}
span{
    color: #712518;
}
button{
    margin-bottom: 16px;
}
hr{
    display: block;
}
small{
    font-size: 10px;
}
.link{
    text-align: center;
}
.link a{
    font-size: 11px;
    color: #712518;
}
@media only screen and (max-width: 600px) {
    div{
        max-width: 420px;
    }
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 14px;
    }
    p{
        font-size: 11px;
    }
    small{
        font-size: 8px;
    }
    .link a{
        font-size: 9px;
    }
    .footer{
        margin-bottom: 64px;
    }
}
